html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.upper {
    font-weight: bold;
    font-size: 32px;
}

/* .pseudo::first-letter {
    font-weight: bold;
    font-size: 32px;
} */

/* .pseudo::first-line {
    font-weight: bold;
    font-size: 25px;
}  */

.pseudo::selection {
    background-color: orange;
}

.pseudo::before {
    content: "";
    /* display: block; */
    width: 30px;
    height: 10px;
    background-color: red;
}

.pseudo::after {
    content: '111***';
}

.block1 {
    width: 300px;
    height: 300px;
    background-color: red;
    border: 3px solid green;
    border-radius: 10px;
    position: relative; /* static relative absolute fixed sticky */
    left: 100px;
    top: 100px;
}

.block2 {
    width: 500px;
    height: 500px;
    background-color: red;
    border: 10px solid green;
    border-radius: 10px;
    position: relative; /* static relative absolute fixed sticky */
}

.block2_sub {
    width: 150px;
    height: 150px;
    border: 1px dashed gold;
}
.block2_sub:nth-child(1) {
    background-color: green;
    position: relative;
    left: 50px;
    /* right: 50px; */
}

.block2_sub:nth-child(2) {
    background-color: blue;
    position: absolute; /*独立出来，游离在文档流之外*/
    left: 50px;
    top: 50px;
    z-index: 1;

}
.block2_sub:nth-child(3) {
    background-color: purple;
    position: relative;
    top: 30px;

}

.block3 {
    width: 500px;
    height: 500px;
    background-color: red;
    border: 3px solid green;
    border-radius: 10px;
    position: relative;
    margin: 50px;
    font-size: 50px;
    padding: 30px;

}

.block4 {
    width: 500px;
    height: 500px;
    background-color: red;
    border: 3px solid green;
    border-radius: 10px;
    position: relative;
    margin: 80px;
    margin-left: 20px;
    margin: 40px ;
    padding: 30px;

}

.block5 {
    width: 90%;
    height: 90%;
    background-color: red;
    border: 3px solid green;
    border-radius: 10px;
    position: relative;
    overflow:hidden ;
    display: flex;
   
    flex-wrap: wrap;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center;  */
    /*content and item这两个是很重要的 必须的*/

    /* place-content: center是结合  justify-content: center;
    align-items: center;只需要写一个就行 */
}
 
.block5_sub {
    width: 100px;
    height: 100px;
    background: green;
    border: 1px solid gold;
    /* flex-grow: 1; */
}
/* 
.block5_sub:nth-child(3) {
    flex-grow: 4;
}

.block5_sub:nth-child(5) {
    flex-shrink: 5;
}

.block5_sub:nth-child(4) {
    flex-shrink: 3;
    flex-grow: 2;
} */

.block5_sub:nth-child(3) {
    align-self: flex-start;
    order: -1;
}
.block5_sub:nth-child(4) {
    align-self: flex-start;
    order: -1;
}